<div class="row"> 
	<div class="col">
		<h1 class="page-title"> New Review </h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<form method="POST" action="/reviews"> 

			<div class="form-row">
				<div class="form-group col-8 col-lg-6">
					<label for="movieName">Movie</label>
					<input type="text" name="movieName" class="form-control" id="movieName" placeholder="What did you watch?">
				</div>

				<div class="form-group col-4 col-lg-6">
					<label for="inputRating">Rating</label>
					<select name="rating" id="inputRating" class="form-control">
						<option value="5">5 - Amazing</option>
						<option value="4">4 - Pretty</option>
						<option value="3">3 - Not bad</option>
						<option value="2">2 - Uh</option>
						<option value="1">1 - Terrible</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="reviewTitle">Title</label>
				<input type="text" name="reviewTitle" class="form-control" id="reviewTitle" placeholder="Write a headline here">
			</div>

			<div class="form-group">
				<label for="reviewBody">Review</label>
				<textarea name="reviewBody" class="form-control" id="reviewBody" placeholder="Write your review here"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>
	</div>
</div>