<div class="row">
	<div class="col">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb"> 
				<li class="breadcrumb-item"> <a href="/"> Home </a> </li>
				<li class="breadcrumb-item active" arai-current="page"> Review </li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col">
		<h1 class="text-muted"> Name: {{review.movieName}} </h1>
		<h4> Title: {{review.title}} -- <span class="badge badge-info"> {{review.rating}} </span> </h4>
	</div>
</div>

<div class="row">
	<div class="col">
		<p> Body: {{review.body}} </p>
	</div>
</div>